@font-face {
  font-family: Poppins;
  src: url(Poppins-Regular.ttf);
}

html * {
	font-family: Poppins;
}

.project-image{
	height: 50px;
	width:100%;
}

@media (max-width: 800px) {
	.bar-grids{
		float:none;
		width:100%;
		padding: 0;
	}
}
@media (min-width: 800px) {
	.bar-grids{
		float:left;
		width:50%;
		padding: 0 2em;
	}
}

.navbar-default.active{
	background-color: transparent;
	transition: none;
}

.navbar-default{
	background-color: #4257c3;
	transition: all .5 linear;
}

h6{
	color: #838383 !important;
}

.navbar-collapse{
	max-height:none !important;
}

.additional-skill-header{
	text-align:center; 
	padding-left:50px; 
	padding-right:50px;
}
